# Supabase Configuration
VITE_SUPABASE_URL=https://lwwgfjzddhhaznlposnv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3d2dmanpkZGhoYXpubHBvc252Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NDA2NzksImV4cCI6MjEwNjMxNjY3OX0.tvxWQ6dWh20SL0wCMrF-wDM2kZjDNpyQ_lhq3pX-owg

# API Backend Proxy
VITE_API_BASE_URL=/api
